.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.tabs-view {
}

.tabs-view ul.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #aaa;
}

.tabs-view ul.tabs li {
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
    margin-bottom: -1px;
}

.tabs-view ul.tabs li a {
    display: block;
    text-align: center;
    line-height: 20px;
    padding: 0 20px;
}
.tabs-view ul.tabs li a:focus {
    outline: 0;
}

.tabs-view ul.tabs li a:hover {
    background-color: #eee;
}

.tabs-view ul.tabs li.active {
    border: 1px solid #aaa;
    border-bottom: none;
    background-color: #fff;
}

.tabs-view ul.tabs li.active a {
    background-color: inherit;
    cursor: text;
    color: inherit;
    text-decoration: none;
}

.tabs-view .panes {
    clear: both;
    display: block;
    padding-top: 10px;
}
