.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*Both*/
.tabs-view {
    display: block;
}

.tabs-view > .tabs li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs-view > .tabs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs-view > .tabs li a {
    display: block;
    text-align: center;
    line-height: 40px;
    padding: 0 20px;
}

.tabs-view > .tabs > li > a:focus {
    outline: 0;
}

.tabs-view > .tabs > li > a:hover {
    background-color: #eee;
}

.tabs-view > .tabs li {
    border: 1px #aaa;
}

.tabs-view > .tabs .active {
    background-color: #fff;
}

.tabs-view > .tabs > li.active > a {
    background-color: #fff;
    cursor: default;
    color: inherit;
    text-decoration: none;
}

/*Horizontal*/

.tabs-view-horizontal > .tabs {
    border-bottom: 1px solid #aaa;
    display: block;
    width: 100%;
}

.tabs-view-horizontal > .tabs li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-bottom: -1px;
}


.tabs-view-horizontal > .tabs .active {
    border-style: solid solid none solid;
}

.tabs-view-horizontal > .panes {
    display: block;
    width: 100%;
    padding-top: 10px;
}

/*Vertical*/
.tabs-view-vertical {
}

.tabs-view-vertical > .tabs {
    display: table-cell;
    vertical-align: top;
    border: 1px #aaa;
    border-right-style: solid;
    overflow: visible;
}

.tabs-view-vertical > .panes {
    display: table-cell;
    width: 100%;
    padding-left: 10px;
}

.tabs-view-vertical > .tabs li {
    position: relative;
    left: 1px;
    /*margin-right: -4px;*/
}

.tabs-view-vertical > .tabs .active {
    border-style: solid none solid solid;
}
